@import 'variables';
@import 'breakpoints';

.commodity {
  .thumbnail-slider { 
    flex-basis: 246px;
    max-width: 246px;
    > img { 
      width: 100%;
      height: auto;
     }
    .controls {
      bottom: 0;
      left: 0;
      right: 0;
    }
     @include media-breakpoint-down(sm) {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}

.empty-store {
  width: 100%;
  .svg {
    max-width: 300px;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
}